.main-currency-table .currency-table-title{
    margin-left: 40px;
}
.main-comision-table .comision-table-title{
    margin-left: 40px;
}
.main-tables-container{
    display:flex;
    width:930px;
    margin: 0 auto;
}
    .product-cards--container{
        display:flex;
        flex-wrap:wrap;
        width:930px;
        margin:0 auto;
    }
    .plans-container--slider{
        justify-content: center; /* porque se esta utilizando display:flex*/
    } 
